<div class="edit-mode">
  <h4>{{ 'editComments.title' | translate }}</h4>

  <form [formGroup]="editCommentForm">
    <div class="edit-rows">
      <label>{{ 'common.labelTitle' | translate }}*:</label>
      <input class="form-control" type="text" name="editDataTitle" formControlName="title"/>
    </div>

    <div class="edit-rows">
      <label>{{ 'common.labelText' | translate }}*:</label>
      <textarea class="form-control" name="editDataText" formControlName="text"></textarea>
    </div>

    <div class="edit-rows">
      <label>{{ 'common.labelTags' | translate }}*:</label>

      <ng-select
        class="dropdown"
        formControlName="input"
        [addTag]="true"
        [items]="tags$ | async"
      >
      </ng-select>

      <button class="btn btn-dark" (click)="addTag()">{{ 'common.addNewTag' | translate }}</button>

      <div *ngFor="let tag of selectedTags" class="form-tag-list">
        <div class="form-tag-list">
          <button class="delete-tag" (click)="removeTag(tag)">
            <img src="./assets/icons/bin.png" data-toggle="tooltip" title="Delete">
          </button>
          <span>{{ tag }}</span>
        </div>
      </div>
    </div>
  </form>

  <button class="btn btn-light" (click)="cancelEdit()">{{ 'editComments.cancel' | translate }}</button>
  <button class="btn btn-dark" [disabled]="!isFormValid" (click)="saveEdit()">{{ 'editComments.save' | translate }}</button>
</div>
