@import 'variables.scss';

.edit-mode {
  background-color: $light-red;
  padding: 25px;

  h4 {
    margin: 0;
  }

  label {
    margin-bottom: 10px;
  }

  form {
    margin-bottom: 50px;
  }

  button {
    margin-left: 25px;
    font-size: $font-md;
  }
}

.edit-rows {
  margin: 20px;

  input, textarea {
    margin-left: 20px;
    min-height: 30px;
  }
}

.form-check-input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.form-tag-list {
  display: inline-block;
  font-size: $font-md;
}

.delete-tag {
  background-color: transparent;
  border: unset;
}

img {
  height: 30px;
}

:host::ng-deep {
  .dropdown {
    position: relative;
    display: block;
    box-sizing: border-box;
    border-radius: 10px !important;
    background-color: $white;
    margin: 0 0 20px 20px;
    width: 100%;
    padding-bottom: unset;
    font-size: $font-md;

    .ng-select-container {
      border-radius: 6px !important;
      height: 38px !important;
      font-size: $font-sm;
    }
  }
}