/* Colors */
$black: #000000;
$grey-overlay: rgba(0, 0, 0, 0.5);
$light-red: #af7878;
$dark-green: #bac99e;
$light-blue: #add8e6;
$light-green: #f4fcf2;
$grey: #eceaea;
$white: #ffffff;

/* Font sizes */

$font-lg: 25px;
$font-md: 21px;
$font-sm: 18px;